<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="{isset($robots) ? $robots : 'index,follow'}">
		<meta name="description" content="{include #description}" n:ifset="#description">
		<meta name="author" content="kesspess">

		<title>{block |strip|trim}
			{ifset #title}
				{capture $title}{include #title|striptags|trim}{/capture}
				{if $title}{!$title} | {/if}
			{/ifset}
			Facebook login sandbox
		{/block}</title>
		<link rel="shortcut icon" href="{$basePath}/favicon.ico">

		<link rel="stylesheet" type="text/css" href="{$basePath}/css/all.css">
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/screen.css">
	</head>

	<body>


		<h1>Facebook login sandbox</h1>

		<div n:snippet="flashes">
			<div n:foreach="$flashes as $flash" class="flash {$flash->type} hidable">{$flash->message}</div>
		</div>

{block |indent:1}{block content}{/block}{/block}

	</body>
</html>
